{
  "dev": {
    "scriptId": "YOUR_DEV_APPS_SCRIPT_ID",
    "spreadsheetId": "YOUR_DEV_SPREADSHEET_ID",
    "driveId": "YOUR_DEV_DRIVE_FOLDER_ID"
  },
  "prod": {
    "scriptId": "YOUR_PROD_APPS_SCRIPT_ID",
    "spreadsheetId": "YOUR_PROD_SPREADSHEET_ID",
    "driveId": "YOUR_PROD_DRIVE_FOLDER_ID"
  }
}
